#### going over the basics of pyspark
- pyspark dataframe operations
- reading the data set
- checking the data types
-selecting cols and indexing
- adding a new column
- adding a new column with a condition
- dropping a column
- renaming a column

In [1]:
#pip install pyspark

In [2]:
import sys
print(sys.executable)

d:\pyspark\jupyter_env\Scripts\python.exe

In [3]:
%pip install openpyxl

import pyspark
import pandas as pd
# For Excel files, use read_excel instead of read_csv
pd.read_csv(r"dataSet1.csv")

Requirement already satisfied: openpyxl in d:\pyspark\jupyter_env\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\pyspark\jupyter_env\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

     Name  age
0   feras   23
1  bashar   28
2    omar   23
3  ahamad   22

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyFirstApp") \
    .getOrCreate()

In [5]:
spark

In [6]:
df_spark = spark.read.csv("dataSet1.csv", header=True, inferSchema=True)

In [7]:
df_spark.show()

+------+---+
|  Name|age|
+------+---+
| feras| 23|
|bashar| 28|
|  omar| 23|
|ahamad| 22|
+------+---+

In [8]:
df_pyspark = spark.read.option('header','true').csv("dataSet1.csv")

In [9]:
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
| feras| 23|
|bashar| 28|
|  omar| 23|
|ahamad| 22|
+------+---+

In [10]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(Name='feras', age='23'),
 Row(Name='bashar', age='28'),
 Row(Name='omar', age='23')]

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [15]:
spark

In [16]:
df_spark1=spark.read.option("header", "true").csv("dataSet1.csv")

In [17]:
df_spark1.show()

+------+---+
|  Name|age|
+------+---+
| feras| 23|
|bashar| 28|
|  omar| 23|
|ahamad| 22|
+------+---+

In [18]:
df_spark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [19]:
df_pyspark = spark.read.csv("dataSet1.csv", header=True, inferSchema=True)
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
| feras| 23|
|bashar| 28|
|  omar| 23|
|ahamad| 22|
+------+---+

In [20]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [21]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [22]:
df_pyspark.columns

['Name', 'age']

In [23]:
df_pyspark.select('name', 'age').show()

+------+---+
|  name|age|
+------+---+
| feras| 23|
|bashar| 28|
|  omar| 23|
|ahamad| 22|
+------+---+

In [24]:
 df_pyspark.dtypes

[('Name', 'string'), ('age', 'int')]

In [25]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               age|
+-------+------+------------------+
|  count|     4|                 4|
|   mean|  NULL|              24.0|
| stddev|  NULL|2.7080128015453204|
|    min|ahamad|                22|
|    max|  omar|                28|
+-------+------+------------------+

In [26]:
from pyspark.sql.functions import when, col

df_pyspark = df_pyspark.withColumn(
    "age to retirement",
    when(col("age") < 60, 60 - col("age")).otherwise(0)
)

df_pyspark.show()

+------+---+-----------------+
|  Name|age|age to retirement|
+------+---+-----------------+
| feras| 23|               37|
|bashar| 28|               32|
|  omar| 23|               37|
|ahamad| 22|               38|
+------+---+-----------------+

In [27]:
from pyspark.sql.functions import concat, lit

df_pyspark = df_pyspark.withColumn(
    "a col to drop",
    concat(lit("mr"), col("name"))
)
df_pyspark.show()

+------+---+-----------------+-------------+
|  Name|age|age to retirement|a col to drop|
+------+---+-----------------+-------------+
| feras| 23|               37|      mrferas|
|bashar| 28|               32|     mrbashar|
|  omar| 23|               37|       mromar|
|ahamad| 22|               38|     mrahamad|
+------+---+-----------------+-------------+

In [28]:
df_pyspark=df_pyspark.drop("a col to drop")

In [29]:
df_pyspark.show()

+------+---+-----------------+
|  Name|age|age to retirement|
+------+---+-----------------+
| feras| 23|               37|
|bashar| 28|               32|
|  omar| 23|               37|
|ahamad| 22|               38|
+------+---+-----------------+

In [30]:
df_pyspark.withColumnRenamed('name','first name').show()

+----------+---+-----------------+
|first name|age|age to retirement|
+----------+---+-----------------+
|     feras| 23|               37|
|    bashar| 28|               32|
|      omar| 23|               37|
|    ahamad| 22|               38|
+----------+---+-----------------+

In [31]:
spark.stop()