### pyspark groupBy and aggregate functions

In [1]:
from pyspark.sql import SparkSession
spark = spark = SparkSession.builder.appName("project 4").getOrCreate()

In [2]:
spark

In [3]:
df_pyspark = spark.read.csv("dataSet4.csv", header=True, inferSchema=True)

In [13]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [14]:
df_pyspark.describe().show()

+-------+-----+-----------+-----------------+
|summary| Name|Departments|           salary|
+-------+-----+-----------+-----------------+
|  count|   10|         10|               10|
|   mean| NULL|       NULL|           7300.0|
| stddev| NULL|       NULL|5396.500923952689|
|    min|Krish|   Big Data|             2000|
|    max|Sunny|        IOT|            20000|
+-------+-----+-----------+-----------------+

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [17]:
#groupBy 

df_pyspark.groupBy("name").max("salary").show()

+---------+-----------+
|     name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [22]:
df_pyspark.groupBy("Departments").mean("salary").show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [25]:
df_pyspark.agg({"salary": "min"}).show()

+-----------+
|min(salary)|
+-----------+
|       2000|
+-----------+

In [26]:
spark.stop()